<html>
<head>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css" media ="screen"/>

	<script src="{{url_for('static', filename='js/jquery-2.0.3.min.js')}}" type="text/javascript" charset="utf-8"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}" type="text/javascript" charset="utf-8"></script>
  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  </script>

</head>
<body>
  {% block body %}{% endblock %}

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		var $action = $('#action');
		var $reset = $('.reset');
		var $exit =  $('.exit');
		var $logs = $('#logs .scroll');


		$action.toggle(false)

		/* Add Inputs */
		$('#add-test').click(function() {
			var $list = $("#cases").children("tbody")
			var num = $list.children().length + 1

			var newInput = "<tr><td><input type='text' class='inputs'/></td><td><input type='text' class='output' /> <div class='remove'><i class='icon-remove'></i></div></td></tr>"
			$list.append(newInput)
		});

		/* Delete Test */
		$cases = $('#cases');
		$cases.on('click', ".remove", function() {
			$this = $(this);
			$this.parent().parent('tr').remove();
		});


		function isInt(n) {
		   return typeof n === 'number' && n % 1 == 0;
		}

		function notEmpty(str) {
			return !str;
		}

		$error = $('.error')
		function showError(msg) {
			$error.text(msg).toggle(true);
		}


		/* SUBMIT */
	  $('.submit').on('click', function(e) {
  		e.preventDefault();
	  	VALID_INPUTS = true;
  		var outputs = []
  		var inputs = []


  		// Get outputs
  		$('.output').each(function() {
  			val = $(this).val();
  			if (!val) {
  				VALID_INPUTS = false;
  				error = "Uh oh, you have empty inputs."
	  			showError(error);
	  			return error
  			} else {
	  			value = Number(val);

	  			// Check for invalid input
	  			if (isInt(value)) {
	  				outputs.push(value);
	  			} else {
	  				VALID_INPUTS = false;
	  				error = "Uh oh, there are invalid inputs. Make sure your inputs are all integers."
		  			showError(error);
		  			return error
	  			};
	  		}
  		});


  		// Get inputs
  		if (VALID_INPUTS) {
  			$inputs = $('.inputs')

  			input_len = $inputs.length;
  			if (input_len == outputs.length) {
  				count = 0

		  		$inputs.each(function() {
		  			inputList = $(this).val();
		  			values = inputList.split(",")

		  			// Check for invalid input
		  			for(var i = 0; i < values.length; i++) {
			  			if (!values[i]) {
			  				VALID_INPUTS = false;
			  				error = "Uh oh, you have empty inputs."
				  			showError(error);
				  			return error
			  			} else {

				  			integer = Number(values[i]);

				  			if (isInt(integer)) {
				  				values[i] = integer;
				  			} else {
				  				VALID_INPUTS = false;
				  				error = "Uh oh, there are invalid inputs. Make sure your inputs are all integers."
					  			showError(error);
					  			return error
				  			};
				  		};
		  			};

		  			if (VALID_INPUTS) {
			  			inputs.push([values, outputs[count]]);
		  			}

		  			count++;
		  		
		  		});
		  	} else {
  				VALID_INPUTS = false;
  				error = "Uh oh, you're missing some inputs."
	  			showError(error);
	  			return error
		  	}
	  	}


  		// Check for valid inputs
  		if (VALID_INPUTS) {
  			$error.toggle(false);

	  		var data = {"inputs": JSON.stringify(inputs)};
	     	console.log(data);

	      $.post("/run_program", data, function(result){
	      });

	      $("#program .subheader").text("Program Is Being Assembled...");

				line = "<span>Preparing...</span>";
	    	$logs.append(line);

	    	$testcases = $("#testcases")
	    	$testcases.addClass("disabled")
	    	$testcases.find('.submit, #add-test').attr("disabled", true);

	      /* Scroll Down */
		    $target = $("#result");
		    $('html, body').stop().animate({
		        'scrollTop': $target.offset().top
		    }, 800, 'swing', function () {
		        window.location.hash = $target;
		    });

		    $exit.toggle(true).text("Stop Program")
	    	$reset.toggle(false);

		  };
	  });

	});
</script>

</body>
</html>